.open-sans-custom {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

body{
    background-color: white;
    margin: 0;
}

.LogoMetro img {
    width: 200px; 
    position: absolute;
    top: 43px;
    left: 43px;
}

.Barra img {
    position: absolute;
    left: 1810px;
    width: 110px;
    height: 1080px;
}
.Menu img {
    position: absolute;
    left: 1852px;
    top: 446.5px;
    width: 23px;
    height: 187px;
}

.Textos {
    position: absolute;
}

.Textos #Cantidad{
    position: absolute;
    left: 1825px;
    color: #FFFFFF;
    font-size: 20px;
    top: 280px;

}

.Arrow img {
    position: absolute;
    left: 1852px;
    top: 190px;
    width: 24px;
    height: 13px;
}

.ArrowBaja img {
    position: absolute;
    left: 1852px;
    top: 740px;
    width: 24px;
    height: 13px;
    transform: scaleY(-1);
}