body {
    background-color: gray;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: calc(80vh * (16 / 9)); 
    height: 80vh; 
    max-width: 90%; 
    background-image: url(./Imagenes/background.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}